<a href="https://colab.research.google.com/github/MunizMunizMuniz/Pokemon/blob/main/pokemon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Qual Ã© o pokemon ideal para ganhar do pikachu

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/pokemon_data.csv')

In [ ]:
df = df.drop(columns='Generation')
df = df.drop(columns='#')

In [ ]:
df['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [ ]:
df[df.Name == 'Pikachu']

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
30,Pikachu,Electric,NaN,35,55,40,50,50,90,False

In [ ]:
dfRock = df.loc[(df['Type 1'] == 'Rock') | (df['Type 2'] == 'Rock')]

In [ ]:
dfRock = dfRock[(df['Type 1'] != 'Flying') & (df['Type 2'] != 'Flying')]
dfRock = dfRock[(df['Type 1'] != 'Water') & (df['Type 2'] != 'Water')]

<ipython-input-55-ce2fdd2b0221>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dfRock = dfRock[(df['Type 1'] != 'Flying') & (df['Type 2'] != 'Flying')]
<ipython-input-55-ce2fdd2b0221>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dfRock = dfRock[(df['Type 1'] != 'Water') & (df['Type 2'] != 'Water')]

In [ ]:
dfRock = dfRock.loc[(df['Attack'] > 40) & (df['Defense'] > 55)]
dfRock = dfRock.loc[(df['Sp. Atk'] > 50) & (df['Sp. Def'] > 50)]

In [ ]:
dfRock

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
82,Golem,Rock,Ground,80,120,130,55,65,45,False
237,Magcargo,Fire,Rock,50,50,120,80,80,30,False
266,Pupitar,Rock,Ground,70,84,70,65,70,51,False
267,Tyranitar,Rock,Dark,100,134,110,95,100,61,False
268,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,False
332,Aggron,Steel,Rock,70,110,180,60,60,50,False
369,Lunatone,Rock,Psychic,70,55,65,95,85,70,False
370,Solrock,Rock,Psychic,70,95,85,55,65,70,False
377,Lileep,Rock,Grass,66,41,77,61,87,23,False
378,Cradily,Rock,Grass,86,81,97,81,107,43,False
380,Armaldo,Rock,Bug,75,125,100,70,80,45,False
515,Rhyperior,Ground,Rock,115,140,130,55,55,40,False
528,Probopass,Rock,Steel,60,55,145,75,150,40,False
585,Gigalith,Rock,NaN,85,135,130,60,80,25,False
619,Crustle,Bug,Rock,70,95,125,65,75,45,False
700,Terrakion,Rock,Fighting,91,129,90,72,90,108,True
767,Tyrantrum,Rock,Dragon,82,121,119,69,59,71,False
769,Aurorus,Rock,Ice,123,77,72,99,92,58,False
795,Diancie,Rock,Fairy,50,100,150,100,150,50,True
796,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,True

In [ ]:
dfRock.describe()

               HP      Attack     Defense     Sp. Atk     Sp. Def       Speed
count   20.000000   20.000000   20.000000   20.000000   20.000000   20.000000
mean    78.150000  103.550000  112.750000   78.350000   89.000000   55.300000
std     20.277743   36.316554   30.976859   24.685975   27.307219   23.337569
min     50.000000   41.000000   65.000000   55.000000   55.000000   23.000000
25%     69.000000   80.000000   88.750000   60.750000   68.750000   42.250000
50%     72.500000  105.000000  114.500000   71.000000   82.500000   50.000000
75%     87.250000  130.250000  130.000000   95.000000  101.750000   70.000000
max    123.000000  164.000000  180.000000  160.000000  150.000000  110.000000

In [ ]:
dfRock.loc[(df['HP'] > 78.15) & (df['Attack'] > 103.55) & (df['Defense'] > 112.75) 
            & (df['Sp. Atk'] > 78.35) & (df['Sp. Def'] > 89) & (df['Speed'] > 55.3)]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
268,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,False